# Planner Agent
PLANNER_AWS_ACCESS_KEY_ID=""
PLANNER_AWS_SECRET_ACCESS_KEY=""
PLANNER_AWS_SESSION_TOKEN=""
PLANNER_AWS_REGION="us-east-1"

# Crawler Agent
CRAWLER_AWS_ACCESS_KEY_ID=""
CRAWLER_AWS_SECRET_ACCESS_KEY=""
CRAWLER_AWS_SESSION_TOKEN=""
CRAWLER_AWS_REGION="us-east-1"

# Evaluator Agent
EVALUATOR_AWS_ACCESS_KEY_ID=""
EVALUATOR_AWS_SECRET_ACCESS_KEY=""
EVALUATOR_AWS_SESSION_TOKEN=""
EVALUATOR_AWS_REGION="us-east-1"

# Segmentation Agent
SEGMENTATION_AWS_ACCESS_KEY_ID=""
SEGMENTATION_AWS_SECRET_ACCESS_KEY=""
SEGMENTATION_AWS_SESSION_TOKEN=""
SEGMENTATION_AWS_REGION="us-east-1"

# Explorer Agent
EXPLORER_AWS_ACCESS_KEY_ID=""
EXPLORER_AWS_SECRET_ACCESS_KEY=""
EXPLORER_AWS_SESSION_TOKEN=""
EXPLORER_AWS_REGION="us-east-1"

CHROMA_DB_PATH="./data/vector_db"
